<h1>Hello RAILS</h1>

<%# link_to ist standardmäßig eine Get-Methode. Wenn kein spezieller controller angegeben ist wird der aktuelle genutzt
    -> Durch explizites angeben des "controller:"-Attributs ist der controller "articles"%>


<%= link_to 'My Blog', controller: 'articles' %>
